
<div>
    <h2><span>Simulation</span> {{simulation.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{simulation.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>usersimulation</span>
                </td>
                <td>
                    {{simulation.usersimulation.login}}
                </td>
            </tr>
            <tr>
                <td>
                    <span>healthplansimulation</span>
                </td>
                <td>
                    <span ng-repeat="healthplansimulation in simulation.healthplansimulations">
                        <a class="form-control-static" ui-sref="healthPlan.detail({id: {{healthplansimulation.id}}})">{{healthplansimulation.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>scenariosimulation</span>
                </td>
                <td>
                    <span ng-repeat="scenariosimulation in simulation.scenariosimulations">
                        <a class="form-control-static" ui-sref="scenario.detail({id: {{scenariosimulation.id}}})">{{scenariosimulation.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Annual Cost Before Simulation</span>
                </td>
                <td>
                    <span ng-repeat="healthplansimulation in simulation.healthplansimulations">
                        {{healthplansimulation.annualCost | currency}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Annual Cost of Scenario</span>
                </td>
                <td>
                    <span ng-repeat="scenariosimulation in simulation.scenariosimulations">
                        {{scenariosimulation.annualCost | currency}}{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>  
            <tr>
                <td>
                    <span>New Annual Cost</span>
                </td>
                <td>                    
                        <span>{{newAnnualCost() | currency}}</span>
                </td>
            </tr>                                 
            </tbody>
        </table>
    </div>    

<div><h3>Scenario Explanation</h3>
                    <span ng-repeat="scenariosimulation in simulation.scenariosimulations">
                        <a class="form-control-static" ui-sref="scenario.detail({id: {{scenariosimulation.id}}})"><b>{{scenariosimulation.name}}:</b></a>
                        This {{scenariosimulation.type}} expense will cost {{scenariosimulation.annualCost | currency}} and will contribute to your deductible of {{simulation.healthplansimulations[0].deductible | currency}} leaving you with {{simulation.healthplansimulations[0].deductible - cumulativeAnnualCost()[$index] | currency}} remaining before coinsurance kicks in.
                        This is expense {{$index}} and has a cumulative annual cost of {{cumulativeAnnualCost()[$index]}}. 
                        </br></br>
                    </span>
Total costs look like this: {{cumulativeAnnualCost()}} with a total of {{cumulativeAnnualCost()}}
</div>

<button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>